.card {
    background-color: rgb(230, 227, 224);
    box-shadow: 5px 5px 5px #ddd;
    width: 20rem;
    height: 35rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px;

}
.test{
    color: red;
}
/* @media (max-width:450px ){
    .card{
        width: 90%;
    }
} */
.card:hover{
    box-shadow: 10px 10px 20px #ffffff;
    transition: 0.3s;
}


.img {
    width: 100%;
    height: 15rem;
    position: relative;
    margin: 0;
    box-shadow: 1px 1px 20px #271919;
    border-radius: 5px;
    height: 40%;
    box-sizing: border-box;
}

.img>img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.content {
    /* background-color: bisque; */
    height: 50%;
    box-sizing: border-box;
}

.title {
    /* background-color: rgb(182, 173, 165); */
    margin: 0;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    height: 15%;
    box-sizing: border-box;
}

.description {
    /* background-color: rgb(218, 192, 170); */
    margin: 0;
    padding: 5px;
    height: 55%;
    box-sizing: border-box;
    overflow: hidden;
    background-color:rgba(206, 203, 201,0.2)
}

.rate {
    /* background-color: rgb(182, 173, 165); */
    padding: 5px;
    font-size: 20px;
    letter-spacing: 5px;
    height: 15%;
    box-sizing: border-box;
}

/* .offer {
    background-color: rgb(218, 192, 170);

} */

.price {
    /* background-color: rgb(182, 173, 165); */
    font-size: 18px;
    font-weight: 500;
    height: 15%;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;


}
.button{
    height: 10%;
    box-sizing: border-box;
}
.button > button{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid grey;
}