.headerContainer{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    margin: 10px 0;
    padding: 0 60px;
}
.headerUL{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.headerUL li{
    float: left;
}


.headerUL li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    margin: 0;
    text-decoration: none;
}

.headerUL li a:hover{

}
.headerUL li a.active
{
    background-color: rgb(240, 248, 255,0.3);
    color: black;
    transition: all 0.3s ease;
    font-weight: bold;
}